
% rebase('base.tpl')

<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <p><img src="/img/logo.png" alt="よろず屋" width="40%"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <div class="jumbotron">
          <h3>{{name}}さま、いつもありがとうございます！</h3>
          <p class="lead">商品到着までしばらくおまちください。</p>
          <hr class="my-4">
          <p>またのご利用を心よりお待ちしております。</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">もっと買う</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
